<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shubham.covid_19track">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <service
            android:name=".services.GettingDeviceTokenService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".services.MyFirebaseMessagingService" >

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>

        </service>

        <activity android:name=".HelpLineNoActivity"   android:screenOrientation="portrait" />
        <activity android:name=".AboutUsActivity"   android:screenOrientation="portrait" />
        <activity
            android:name=".websites.India_Govt_WebActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".websites.WhoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".India.DistrictWiseZone"  android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"   android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".India.DistrictWise"   android:screenOrientation="portrait" />
        <activity android:name=".India.SelectState"   android:screenOrientation="portrait" />
        <activity android:name=".India.StateWiseReport"    android:screenOrientation="portrait"/>
        <activity android:name=".India.TestsReport"  android:screenOrientation="portrait" />
        <activity android:name=".India.TodayCases"  android:screenOrientation="portrait" />
        <activity android:name=".India.DashBoardActivity"   android:screenOrientation="portrait"/>
        <activity
            android:name=".OnBoardingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"   android:screenOrientation="portrait" />
        <activity android:name=".world.DetailActivity"   android:screenOrientation="portrait" />
        <activity android:name=".world.AffectedCountries"   android:screenOrientation="portrait" />
        <activity android:name=".world.MainActivity"  android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>